<!DOCTYPE html>
<html>
    <head>
        <title>Crossroads</title>

    </head>
    
    <body>
        <h1>Need Help on Breaking Up?</h1>
        <br>
        <p>Hey! I heard that you need some help on breaking up from a toxic relationship. Whether it's a friendship or relationship, we are here for you. </p>
        <br>
        <p><textarea rows = 2 cols = 50 id = "textareaId" placeholder = "Type in your full name"></textarea></p>
        <input type = "button" value = "Friendship" id = "friendshipButton" 
        <div id = "friendId"></div>

        <input type = "button" value = "Relationship" id = "relationshipButton" 
        <div id = "relationId"></div>

        </div>
    </body>
</html>