body{
    font-family: cursive;
    text-align: center;
    background: lightcoral;
    
}

h3{
    font-size: 30px;
    text-align: center;
}

p{
    text-align: center;
    color: black;
}

button{
    size: 20px;
    text-align: center;
    padding: 5;
    background-color:rgb(255, 80, 203);
    border-radius: 3;
    border-color: blueviolet;
}
